@page
@model SquarespaceShopifyIntegrationAPP.Pages.TransferStatusModel
@{
}

@foreach(var ev in Model.Events)
{
    <p>@ev.Id</p>
    <a href="@ev.ItemURL">Link To item</a>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>